In [1]:
import pandas as pd
import json
from glob import glob
from sklearn.model_selection import train_test_split

In [4]:
def jsonl_to_dataframe(file_path):
    return pd.read_json(file_path, lines=True)

def merge_jsonl_to_dataframe(file_pattern):
    """Fonction pour fusionner plusieurs fichiers JSONL en un seul DataFrame pandas"""
    # Récupérer la liste des fichiers correspondant au modèle fourni
    files = glob(file_pattern)
    
    
    # Lire chaque fichier JSONL et stocker les DataFrames individuels dans une liste
    dfs = [jsonl_to_dataframe(file) for file in files]
    # Concaténer les DataFrames
    merged_df = pd.concat(dfs, ignore_index=True)
    
    return merged_df

# Modèle de chemin vers les fichiers JSONL à fusionner
file_pattern = "data/*.jsonl"

# Appel de la fonction pour fusionner les fichiers JSONL en un DataFrame
df = merge_jsonl_to_dataframe(file_pattern)

# Afficher le DataFrame fusionné
len(df)

7210

#  Setup the dataFrame for the predictive models

In [10]:
# Creating the answers_df
human_df = pd.DataFrame({'answers': df['human_answers'], 'is_human': 1})
gpt_df = pd.DataFrame({'answers': df['chatgpt_answers'], 'is_human': 0})
answers_df = pd.concat([human_df, gpt_df], axis=0, ignore_index=True)

answers_df

                                                 answers  is_human
0      [Hi,     Thanks for the query. I understand yo...         1
1      [Hello,Thanks for the query to H.C.M. Forum.Pa...         1
2      [Hello, The use of Clindamycin can cause stoma...         1
3      [Hello. Revert back with the photos to a denti...         1
4      [Hi Dear,Welcome to Healthcaremagic Team.Under...         1
...                                                  ...       ...
14415  [Secretariat was an American Thoroughbred race...         0
14416  [A full-time job typically refers to a job tha...         0
14417  [The three primary colors in the subtractive c...         0
14418  [The ionosphere is a region of Earth's upper a...         0
14419  [New Orleans is a city located in the state of...         0

[14420 rows x 2 columns]

In [13]:
X = answers_df['answers']
y = answers_df['is_human']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)